body {
  height: 100%;
}



/* Contact me */

.contactme {
  margin-bottom: 30px;
}


.ctext h2 {
  font-family: 'Syncopate', sans-serif;
  font-size: 30px;
  margin-bottom: 20px;
}

.ctext p {
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
}

.col-lg-6 img {
  padding-bottom: 20px;
  width: 100%;
}

.cmrow .col-lg-6 {
  margin-top: 30px;
}
