@import url('https://fonts.googleapis.com/css?family=Syncopate');


html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

}



/* Header */

ul {
  border:1px solid #ccc;
  border-width:1px 0;
  list-style: none;
  margin:0;
  padding:15px 0;
  text-align:center;
}

nav ul li {
    display: inline;
    padding: 7px 0;
    margin: 10px 20px;
}


li a {
    display:inline-block;
    color: black;
    text-decoration: none;
    font-family: 'Syncopate', sans-serif;
    font-size: 20px;


}

a:hover {
  color: black;
  text-decoration: none;
}

li:hover {
    color: rgb(255, 204, 153);
    border-bottom-style: solid;
    border-bottom-width: 3px;

}

header h1 {
    font-family: 'Syncopate', sans-serif;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    padding: 10px 0;
    margin: 0;

}
