@import url('https://fonts.googleapis.com/css?family=Syncopate');


html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

}

* {
  margin: 0;
  padding: 0;
}



/* Header */

ul {
  border:1px solid #ccc;
  border-width:1px 0;
  list-style: none;
  margin:0;
  padding:15px 0;
  text-align:center;
}

nav ul li {
    display: inline;
    padding: 7px 0;
    margin: 10px 20px;
}


li a {
    display:inline-block;
    color: black;
    text-decoration: none;
    font-family: 'Syncopate', sans-serif;
    font-size: 20px;


}

#active {
  color: #4A2545;
  border-bottom-style: solid;
  border-bottom-width: 3px;
}

#active:hover {
  color: rgb(255, 204, 153);
  border-bottom-style: solid;
  border-bottom-width: 3px;

}

a:hover {
  color: black;
  text-decoration: none;
}

li:hover {
    color: rgb(255, 204, 153);
    border-bottom-style: solid;
    border-bottom-width: 3px;

}


header h1 {
    font-family: 'Syncopate', sans-serif;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    padding: 10px 0;
    margin: 0;

}

/* Project quote */

.projectquote {
  min-height: 400px;
  background: transparent;
}

.projectquote div {
  display: block;
  width: 60%;
  margin: 0 auto;
  padding: 150px 0;
}

#pquote {
  margin: 0 0 15px 0;
  font-family: 'Syncopate', sans-serif;
  font-size: 40px;
  color: white;
  text-align: center;
}

#dan {
  text-align: center;
  font-family: 'Syncopate', sans-serif;
  font-weight: 700;
  color: white;
  font-size: 25px;
  margin-top: 15px;
}

  /* Projects */

  .projects .startinfo h1 {
    font-family: 'Syncopate', sans-serif;
    text-align: center;
    font-size: 50px;
    font-weight: 600;
    padding: 30px 0;
    margin: 0;
  }

  .projects .startinfo p {
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    text-align: center;
    margin: 0 20%;
    margin-bottom: 20px;
  }

  .pstyle p {
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    text-align: justify;
    margin: 0;
    padding-top:20px;
  }

  .pstyle img {
    max-width:100%;
    max-height:100%;
    padding-top: 20px;
  }

  .line {
    margin-top: 20px;
  }

  .line p {
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    text-align: justify;
  }

  .projectone {
    background-color: rgb(254, 235, 197);
    margin: 20px 0;
  }

  .projectthree {
    background-color: #ECE5E8;
  }

  .phead {
    font-family: 'Syncopate', sans-serif;
    text-align: center;
    font-size: 30px;
    padding-top: 30px;

  }

  .parr {
    display: block;
    min-height: 200px;
    margin-top: 20px;
  }

  /* Footer */

  .fleft, .fcenter, .fright {
    padding-top: 30px;
  }

  footer {
    padding-bottom: 20px;
      border-top:1px solid #ccc;
      border-width:1px 0;

  }

  /* Footer left */


  .fleft h3 {
    font-family: 'Syncopate', sans-serif;
    text-align: center;
    font-size: 30px;
    color: black;
  }

  #firstname {
    margin-top: 30px;
  }

  #secondname {
    margin-top: 20px;
  }




  /* Footer Center */


  .fcenter div i{
    background-color: #4A2545;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
  }


  .fcenter div p{
    display: inline-block;
    color: black;
    vertical-align: middle;
    margin:0;
  }

  .fcenter div p span{
    display:block;
    font-weight: normal;
    font-size:14px;
    line-height:2;
  }

   .footcenter div p {
    text-align: center;
  }

  .fcenter {
    text-align: center;
  }

  .fcenter .ib {
    display: inline-block;
  }



/* Footer Right */

  .fright div p span{
    display: block;
    color:  #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .fright div a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color:  #4A2545;
    border-radius: 2px;

    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;

    margin-right: 3px;
    margin-bottom: 5px;
  }

  .fright div {
    display: inline;
  }

  .fright {
    text-align: center;
  }
