@import url('https://fonts.googleapis.com/css?family=Syncopate');
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

}


/* Header style */


ul {
  border:1px solid #ccc;
  border-width:1px 0;
  list-style: none;
  margin:0;
  padding:15px 0;
  text-align:center;
}

nav ul li {
    display: inline;
    padding: 7px 0;
    margin: 10px 20px;
}


li a {
    display:inline-block;
    color: black;
    text-decoration: none;
    font-family: 'Syncopate', sans-serif;
    font-size: 20px;


}

a:hover {
  color: black;
  text-decoration: none;
}

li:hover {
    color: rgb(255, 204, 153);
    border-bottom-style: solid;
    border-bottom-width: 3px;

}

header h1 {
    font-family: 'Syncopate', sans-serif;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    padding: 10px 0;
    margin: 0;


}

/* Quote */

.quote {
  min-height: 400px;
  background: transparent;
}

.quote div {
  display: block;
  width: 60%;
  margin: 0 auto;
  padding: 150px 0;


}

#quote {
  font-family: 'Syncopate', sans-serif;
  font-size: 40px;
  color: white;
  text-align: center;
}

#oprah {
  text-align: center;
  font-family: 'Syncopate', sans-serif;
  font-weight: 700;
  color: white;
  font-size: 25px;
  margin-top: 15px;
}

/* About me */

.aboutme {
  padding: 30px 0;
  background-color: rgb(254, 235, 197);
}

.aboutme h1 {
  font-family: 'Syncopate', sans-serif;
  text-align: center;
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 0;

}

.col-style p {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  text-align: justify;

}

.col-style img {
  max-width:100%;
  max-height:100%;
}

.col-style {
  padding-top: 30px;
}

@media (max-width: 800px) {
   .col {
     display: block;
     width: 100%;
   }


}

.fixedtarnovo {
  display: block;
  width: 100%;
  height:600px;
  background: transparent;
}


/* Hobbies */

    .hobbies p {
      font-family: 'Quicksand', sans-serif;
      font-size: 20px;
      margin-top: 30px;
      text-align: center;
    }

   /* Photography */


    .photography h1 {
      font-family: 'Syncopate', sans-serif;
      text-align: center;
      font-size: 50px;
      margin: 30px 0;
    }

    .row {
        display: -ms-flexbox; /* IE10 */
        display: flex;
        -ms-flex-wrap: wrap; /* IE10 */
        flex-wrap: wrap;
        padding: 0 100px;
    }

    /* Create four equal columns that sits next to each other */
    .column {
        -ms-flex: 50%; /* IE10 */
        flex: 50%;
        max-width: 50%;
        padding: 0 4px;
    }

    .column img {
        margin-top: 8px;
        vertical-align: middle;
    }

    /* Responsive layout - makes a two column-layout instead of four columns */
    @media screen and (max-width: 800px) {
        .column {
            -ms-flex: 50%;
            flex: 50%;
            max-width: 50%;
        }
    }

    /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
    @media screen and (max-width: 600px) {
    .column {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
    }
  }

    /* Music */

    .music {
      background-color: rgb(254, 235, 197);
    }

    .music h1 {
      font-family: 'Syncopate', sans-serif;
      text-align: center;
      font-size: 50px;
      margin-top: 20px;
      margin-bottom: 0;
      padding-top: 30px;
    }

    .music p {
      margin: 0;
      font-family: 'Quicksand', sans-serif;
      font-size: 20px;
      text-align: justify;
    }

    .music img {

    }

    .row {
      padding-bottom: 30px;
    }

    /* Footer */

    .fleft, .fcenter, .fright {
      padding-top: 30px;
    }

    /* Footer left */


    .fleft h3 {
      font-family: 'Syncopate', sans-serif;
      text-align: center;
      font-size: 30px;
      color: black;
    }

    #firstname {
      margin-top: 30px;
    }

    #secondname {
      margin-top: 20px;
    }




    /* Footer Center */


    .fcenter div i{
    	background-color: #4A2545;
    	color: #ffffff;
    	font-size: 25px;
    	width: 38px;
    	height: 38px;
    	border-radius: 50%;
    	text-align: center;
    	line-height: 42px;
    	margin: 10px 15px;
    	vertical-align: middle;
    }


    .fcenter div p{
    	display: inline-block;
    	color: black;
    	vertical-align: middle;
    	margin:0;
    }

    .fcenter div p span{
    	display:block;
    	font-weight: normal;
    	font-size:14px;
    	line-height:2;
    }

     .footcenter div p {
      text-align: center;
    }

    .fcenter {
      text-align: center;
    }

    .fcenter .ib {
      display: inline-block;
    }



/* Footer Right */

    .fright div p span{
    	display: block;
    	color:  #ffffff;
    	font-size: 14px;
    	font-weight: bold;
    	margin-bottom: 20px;
    }

    .fright div a {
    	display: inline-block;
    	width: 35px;
    	height: 35px;
    	cursor: pointer;
    	background-color:  #4A2545;
    	border-radius: 2px;

    	font-size: 20px;
    	color: #ffffff;
    	text-align: center;
    	line-height: 35px;

    	margin-right: 3px;
    	margin-bottom: 5px;
    }

    .fright div {
      display: inline;
    }

    .fright {
      text-align: center;
    }
